body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    color:#0f0;
    font-family: 'Courier Prime', monospace;
    user-select: none;
    cursor: pointer;
}

#main-body {
    background-color: black;
    font-size: 20px;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 2000px;
}

#spaceship-interior {
    transform: perspective(100px);
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 600px;
}

.window {
    border: 1px solid #0f0;
    width: 400px;
    height: 250px;
    margin-left: 7px;
    margin-right: 7px;
    position: fixed;
    
}

#left-window {
    transform: rotateX(7deg) rotateZ(-33deg) translate3d(-310px, -150px, 20px);
    width: 250px;
}

#center-window {
    transform: rotateX(-7deg) translate3d(0px, 0px, 20px);
    height: 200px;
}

#right-window {
    transform: rotateX(7deg) rotateZ(33deg) translate3d(310px, -150px, 20px);
    width: 250px;
}

#clip-test {
    position: absolute;
    top: 158px;
    width: 1406px;
    height: 535px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/Harry-Potter-1-.jpg) center center;
    background-size: cover;
    clip-path: polygon(29% 0, 71% 0%, 65.5% 47%, 67% 47%, 72.6% 1%, 96.1% 27.5%, 100% 100%, 67% 47%, 65.5% 47%, 34.5% 47%, 33% 47%, 0% 100%, 3.9% 27.5%, 27.4% 1%, 33% 47%, 34.5% 47%);
}

#main-text {
    transform: perspective(100px);
    transform-style: preserve-3d;
    position: absolute;
    top: 450px;
    /* text-align: justify; */
    font-size: 20px;
}

#text-panel-1 {
    border: 0px solid #0f0;
    width: 400px;
    height: 200px;
    transform: rotateX(10deg) translateZ(30px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}